.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../../images/1280/__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1184 / 740;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}

.cover__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1184 / 740;
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  transition: background-color 0.4s ease;
}
.cover__link:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 505px) {
  .cover__link {
    gap: 16px;
  }
}
