.photos {
  max-width: 100%;
  padding: 0 48px;
}
@media screen and (max-width: 768px) {
  .photos {
    padding: 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .photos {
    padding: 0 16px;
  }
}
